{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="site-hero py-5 bg-light mb-0">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12 text-center">
                    <h1 class="text-black mb-0">Login</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section-grey bg-light">
        <div class="container">
            <div class="block">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8 pb-4 text-center">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}     
                            <input type="submit" class="btn btn-primary-hover-outline" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}