{% extends 'base.html' %}
{% load static %}

{% block title%} {{ post.title }} {% endblock%}

{% block content%}
    <div class="site-hero py-5 bg-light mb-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12 text-center">
                    <h1 class="text-black mb-0">{{ post.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container article">
        <div class="row justify-content-center align-items-stretch"> 
            <article class="col-lg-8 order-lg-2 px-lg-5">
                <p>{{ post.body|linebreaks }}</p>
                <div class="post-single-navigation d-flex align-items-stretch">
                    <a href="#" class="mr-auto w-50 pr-4">
                        <span class="d-block">{{ post.created }}</span>
                        By: {{ post.author|title }}
                    </a>
                </div> 

                <div class="pt-5">
                    {% with comments.count as total_comments %}
                        <h3 class="mb-5">{{ total_comments }} Comment{{ total_comments|pluralize }}</h3>
                    {% endwith %}
                    <ul class="comment-list">
                        {% for comment in comments %}
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="{% static 'images/img_h_3.jpg' %}" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>{{ comment.name }}</h3>
                                    <div class="meta">{{ comment.created }}</div>
                                    <p>{{ comment.body|linebreaks }}</p>
                                </div>
                            </li>
                        {% empty %}
                            <p>There are no comments yet.</p>
                        {% endfor %}
                    </ul>
                    <!-- END comment-list -->
                    {% if new_comment %}
                        <h2> Your comment has been added!</h2>
                    {% else %}
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method='post'>
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <p>
                                <input type="submit" value="Post Comment" class="btn btn-primary btn-md">
                            </p>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}